# Dependencies
blog/node_modules/

# Generated
blog/public/
blog/db.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Hexo
blog/.deploy*/
*.log

# Theme dependencies
hexo-theme-butterfly/node_modules/

# Dev docs
hexo-theme-butterfly/DEV_GUIDE.md
CLAUDE.md
